
@{
    ViewBag.Title = "Account";
}

<br />
<h2>Account</h2>
<br />
<div class="row">
    <div class="col-3 col-md-6">
        <i class="fa fa-user fa-5x"></i>
    </div>
    <div class="col-9 col-md-6">
        login: @Model.Login <br />
        email: @Model.Email
    </div>
</div>


