@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>
<br />
<h3>@ViewBag.Message</h3>

<address>
    Wojciech Kur<br />
    Wroclaw, Poland<br />
    <abbr title="E-mail">P:</abbr>
    WojciechKurDev@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SupportKurDev@gmail.com">SupportKurDev@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingKurDev@gmail.com">MarketingKurDev@gmail.com</a>
</address>