@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title.</h2>
<br />
<h3>@ViewBag.Message</h3>

<p>I'm web developer dealing mainly with designing applications in .NET and python technologies. </p>
