@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Ultimate Portfolio!</h1>
    <p class="lead">This is a simple template for portfolio created by me.</p>
    <hr class="my-4">
    <p>It uses ASP.NET technology and bootstrap as well.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/" role="button">Learn bootstrap</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>First of all, welcome to my website. Please, check my PROJECT page for descriptions of all my projects.</p>
        <p><a class="btn btn-default" href="Home/Projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>For a detailed feedback of my career, go to ABOUT tab.</p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Any question?</h2>
        <p>
            If you want to ask me a question,
            feel free to mail me. Contact details can be found in CONTACT page.
        </p>
        <p><a class="btn btn-default" href="Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>